.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid #ccc;
    background: #f3f3f3;
    height: 200px;
    align-items: center;
}
.box{
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}